/* Base styles (extra small devices - mobile) */
html {
    font-size: 18px;
}

body {
    padding: 0;
    margin: 0;
    background: #FFF;
}

a {
    text-decoration: none;
}

#home-page {
    background:
        rgba(0, 0, 0, 0.3)
        url(Banner\ image\ for\ art\ news\ page.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: 100%;
    height: 100vh;
}

#navbar {
    display: flex;
    width: 100%;
}

#logo {
    color: #FFF;
    font-family: Inter;
    font-size: 30.4px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: left;
    margin: 32px 32px 216px 32px;
}

#menu-button {
    height: 35px;
    margin: 32px;
}

#home-section {
    margin: 0 auto 0 auto;
    display: flex;
    width: 83%;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

#white-box {
    width: 90px;
    height: 15px;
    background: #FFF;
}

#title {
    color: #FFF;
    font-family: "Libre Caslon Display", serif;
    font-size: 2.77rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#description {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 168.523%;
}

.button {
    background-color: transparent;
    width: 153px;
    height: 42px;
    padding: 9px 28px 11px 27px;
    border-radius: 10px;
    color: #FFF;
    border: 2px solid #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.button:hover,
:focus {
    cursor: pointer;
    background-color: rgba(173, 216, 230, 0.5);
}

#menu-button:hover {
    cursor: pointer;
}

#navbar-laptop {
    display: none;
    flex-direction: row-reverse;
    align-items: baseline;
    list-style-type: none;
    margin-right: 27px;
    gap: 35px;
}

#get-started-button {
    margin-top: 32px;
    padding: 9px 27px 11px 27px;
}

.navbar-titles {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 42px;
}

#news-page a:hover,
a:focus {
    cursor: pointer;
    color: #854D0E;
}

#newest-reads {
    color: #000;
    display: inline-block;
    font-family: Inter;
    font-size: 1.33rem;
    font-weight: 700;
    margin: 78px 32px;
}

.reads-box {
    max-width: 311px;
    margin: 0 auto 32px auto;
    border-radius: 4px;
    border: 1px solid #DDD;
    display: flex;
    flex-direction: column;
}

.box-image {
    width: 100%;
    height: 352px;
    border-radius: 4px;
}

.box-date {
    margin: 35px 0 28px 32px;
    color: #B7B7B7;
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
}

.box-title {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin: 0 32px 28px 32px;
}

.box-read-more {
    align-self: flex-end;
    color: #D9852C;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    margin: 0 32px 32px 0;
}

/* Small devices (mobile/tablets) */
@media screen and (min-width: 576px) {
    #home-section {
        max-width: 600px;
    }

    #title {
        font-size: 3.89rem;
    }

    #description {
        max-width: 528px;
    }

    #newest-reads-wrapper {
        max-width: 627px;
        margin: 0 auto;
    }

    #newest-reads {
        margin: 89px 0 56px 10px;
        font-size: 1.78rem;
    }

    #news-page {
        display: flex;
        max-width: 627px;
        margin: 0 auto;
    }

    .reads-box {
        display: flex;
        flex-direction: column;
        width: 33.3%;
        max-width: 187px;
        margin: 0 10px 32px 10px;
    }

    .box-title {
        font-size: 0.83rem;
    }
}

/* Medium devices (tablets/laptops) */
@media screen and (min-width: 768px) {
    #menu-button {
        display: none;
    }

    #navbar-laptop {
        display: inline-flex;
    }

    #home-section {
        margin-left: 72px;
        max-width: 748px;
    }

    #title {
        font-size: 4.44rem;
    }

    #newest-reads-wrapper {
        max-width: 1296px;
    }

    #news-page {
        max-width: 1322px;
    }

    .reads-box {
        width: 33.3%;
        max-width: 419px;
    }

    .box-image {
        object-fit: cover;
    }

    #picasso-image {
        object-position: center top;
    }

    #exterior-image {
        object-position: center bottom;
    }

    .box-title {
        font-size: 1.39rem;
    }
}

/* Large devices (laptops/desktops) */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    /* CSS rules */
}

/* Extra large devices (large desktops) */
@media screen and (min-width: 1200px) {
    /* CSS rules */
}